---
title: Travis Jaruzel - Home
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div id="wrapper">
    <header>
      <h1> Travis Jaruzel </h1>
      <h2> Education </h2>
    </header>
    
    
    {% include nav.html %}
    
        <main>
          <div class="school">
          <a href="https://www.augusta.edu/" target="_blank" >
            <div class="AugustaUni">
            <img src="https://imgur.com/b3Aajam.png" alt="Augusta University"> 
            </div>
            <h3>Augusta University</h3></a>
            
            
            <div class="details">
              <b>Location: </b>Augusta, Georgia <br>
              <b>Years Attended: </b> 2018-Present <br>
              <b>Degree: </b>Bachelor of Science <br>
              <b>Major: </b>Computer Science <br>
            </div>
      
      
          <div class ="Accomp">
          <h4>Honors, Awards, and Accomplishments</h4>
          
          
            <h5><b>Computer Science Coursework Completed</b></h5>
                
                <ul>
                <li>Ethics in Computer Science</li>
                <li>Mathematical Structures for Computer Science</li>
                <li>Computer Organization</li>
                <li>Networking and Cyber Security</li>
                <li>Principles of Computer Programming I and II</li>
                </ul>
                
            <h5><b>Computer Science Coursework In Progress</b></h5>
                
              <ul>
               <li>Intro to Web Development</li>
               <li>Assembly Language Programming</li>
               <li>Data Structures</li>
               <li>Principles of Data Management and Analysis</li>
              </ul>
          </div>
          </div>
          
          
          <div class="school">
          <a href="https://greenbrierhs.ccboe.net/" target="_blank" >
            <div class="GreenBrier">
            <img src="https://imgur.com/z4ukTXh.png" alt="Greenbrier High School">
            </div>
            <h3>Greenbrier High School</h3></a>
            
            <div class="details">
              <b>Location: </b>Evans, Georgia <br>
              <b>Years Attended: </b>2014-2018 <br>
              <b>Degree: </b>High School Diploma <br>
            </div>
      
      
          <div class ="Accomp">
          <h4>Honors, Awards, and Accomplishments</h4>
          
            <h5><b>Advanced Placement Classes</b></h5>
              <ul>
                <li>Computer Science Principles</li>
                <li>Computer Science A</li>
                <li>US Government and Politics</li>
                <li>Human Geography</li>
                <li>World History</li>
              </ul>
            
            <h5><b>Accelerated Math(1 Year Ahead)</b></h5>
            
              <ul>
               <li>Coordinate Algebra</li>
               <li>Analytic Geometry</li>
               <li>Advanced Algebra</li>
               <li>Pre-Calculus</li>
              </ul>
            
            <h5><b>Pathway</b></h5>
            
              <ul>
               <li>Intro to Digital Technology</li>
               <li>Intro to Cyber Security</li>
               <li>Advanced Cyber Security</li>
              </ul>
            
            <h5><b>Extracurricular</b></h5>
            
              <ul>
               <li>CyberPatriot State Champion</li>
               <li>Member of the Future Business Leaders of America</li>
              </ul>
            
            <h5><b>Dual Enrollment Classes (Augusta University)</b></h5>
              
              <ul>
                <li>College Composition I and II</li>
                <li>Pre-Calculus</li>
                <li>Calculus I</li>
              </ul>
          </div>
          </div>
        </main>
        
    {% include footer.html %}
  </div>
  
</body>
</html>
