---
title:Travis Jaruzel - Gallery
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div id="wrapper">
    <header>
      <h1> Travis Jaruzel </h1>
      <h2> Photo Gallery </h2>
    </header>
    
    
    {% include nav.html %}
    
        <main>
          <div class="gallery">
            <figure>
              <a data-fancybox="gallery" data-caption="Brasstown Bald" href="https://imgur.com/bC88m4Y.jpg">
                <img src="https://imgur.com/LeV2UXi.jpg" alt="miata">
              </a>
              <figcaption>Brasstown Bald</figcaption>
            </figure>
            
            <figure>
              <a data-fancybox="gallery" data-caption="Tail of the Dragon" href="https://imgur.com/XyKQn8y.jpg">
                <img src="https://imgur.com/CnK3LPN.jpg" alt="miata">
              </a>
              <figcaption>Tail of the Dragon</figcaption>
            </figure>
            
            <figure>
              <a data-fancybox="gallery" data-caption="Clarks Hill Lake" href="https://imgur.com/aebE4Py.jpg">
                <img src="https://imgur.com/3QkqW8J.jpg" alt="Travis Jaruzel">
              </a>
              <figcaption>Clarks Hill</figcaption>
            </figure>
            
            <figure>
              <a data-fancybox="gallery" data-caption="Helen, GA" href="https://imgur.com/QtGo0S5.jpg">
                <img src="https://imgur.com/9qBP7lc.jpg" alt="miata">
              </a>
              <figcaption>Helen, GA</figcaption>
            </figure>
            
            <figure>
              <a data-fancybox="gallery" data-caption="Mountain Trip" href="https://imgur.com/8fWyATK.jpg">
                <img src="https://imgur.com/vQWI3Wm.jpg" alt="Travis Jaruzel">
              </a>
              <figcaption>Mountain Trip</figcaption>
            </figure>
            
            <figure>
              <a data-fancybox="gallery" data-caption="Savannah Rapids" href="https://i.imgur.com/NHftbZ6.jpg">
                <img src="https://i.imgur.com/RdXT7UL.jpg" alt="miata">
              </a>
              <figcaption>Savannah Rapids</figcaption>
            </figure>
            
            <figure>
              <a data-fancybox="gallery" data-caption="Brasstown Bald" href="https://i.imgur.com/ka5AMM7.jpg">
                <img src="https://i.imgur.com/jwH2GZj.jpg" alt="Travis Jaruzel">
              </a>
              <figcaption>Brasstown Bald</figcaption>
            </figure>
            
            <figure>
              <a data-fancybox="gallery" data-caption="RPM Transmissions" href="https://i.imgur.com/Cgf1mgi.jpg">
                <img src="https://i.imgur.com/0bDpcKt.jpg" alt="Travis Jaruzel">
              </a>
              <figcaption>RPM Transmissions</figcaption>
            </figure>
            
            <figure>
              <a data-fancybox="gallery" data-caption="Kailey & I - Blue Ridge" href="https://i.imgur.com/n2KzsQg.jpg">
                <img src="https://i.imgur.com/EFPl8Tt.jpg" alt="Kailey Jaruzel">
              </a>
              <figcaption>Siblings - Blue Ridge </figcaption>
            </figure>
            
            <figure>
              <a data-fancybox="gallery" data-caption="Riverbanks Zoo" href="https://i.imgur.com/GQpxvez.jpg">
                <img src="https://i.imgur.com/4RHP1Zd.jpg" alt="Travis Jaruzel">
              </a>
              <figcaption>Riverbanks Zoo</figcaption>
            </figure>
          </div>
        </main>

        
    {% include footer.html %}
  </div>
  
</body>
</html>
