<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <link rel="stylesheet" href="selfie.css">
  <link rel="stylesheet" href="selfie_tablet.css" media="only screen and (max-width: 1000px)">
  <link rel="stylesheet" href="selfie_mobile.css" media="only screen and (max-width: 600px)">
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
</head>
